body{
    margin: 0;
    padding: 0;
}

.users-box{
    display: flex;
    padding-top: calc(10vw/3) ;
    padding-bottom:calc(10vw/3) ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    row-gap:calc(10vw/3) ;

}

.user-block{
    width: 45vw;
    padding: 1vw;
    border-style: outset;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 600px) {
    .user-block{
        width: 90vw;
    }
}